

.header {
    background-color : blue;
    text-align: center;
    margin : 10px 0px 10px 0px;
    width: 35%;
    margin: auto;
}

.option {
    color: white ;
    background-color : #d1b6b6;
    margin: 0px 1px 10px 0;
    padding: 10px;
    float: left;
}

.container {
    text-align: center;
    width: 30%;
    margin: auto;
}
.container {
    text-align: left;
}
.container div {
    margin-bottom: 5px;
}
.container input {
    float: right;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  .studentList {
    margin: auto;
  }
